.input-group{
    display: flex;
    flex-direction: column;
    margin-top: 1015px;
    margin-bottom: 1900px;
    align-items: center; 
    text-align: center; 
}
.grup-nume-prenume{
    display: flex;
    flex-direction: row;
}

.grup-mail{
    display: flex;
    flex-direction: row;
}

.grup-materie{
    display: flex;
    flex-direction: row;
}

.grup-ani{
    display: flex;
    flex-direction: row;
}

.loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: white;
    width: -190;
  }

  .textIncarcare{
        margin-bottom: -190px;
  }
  
  .spinner {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }