<div class="input-group">
    <div *ngIf="esteProfesor()">
    <h2>Introdu nota</h2> <br>
    <div class="grup-nume-prenume">
        <div class="input-group-prepend">
            <span class="input-group-text" id="">Nume si prenume</span>
        </div>
        <input type="text" class="form-control" id="nume" style="width: 200px;">
        <input type="text" class="form-control" id="prenume" style="width: 200px;">
    </div>
    <br><br><br>
    <div class="grup-mail">
        <div class="input-group-prepend">
            <span class="input-group-text" id="" style="width: 155px;">Adresă de mail</span>
        </div>
        <input type="text" class="form-control" id="mail" style="width: 400px;">
    </div>
    <br><br><br>
    <div class="grup-materie">
        <div class="input-group-prepend">
            <span class="input-group-text" id="" style="width: 155px;"><span class="text-buton">Materie</span></span>
        </div>
        <select id="selectMaterie" class="form-select" aria-label="Default select example" style="width: 400px;">
            <option selected>Selectează materia</option>
            <option value="Fizica">Fizică</option>
            <option value="Matematica">Matematică</option>
            <option value="Istorie">Istorie</option>
            <option value="Geografie">Geografie</option>
          </select>
    </div>
    <br><br><br>
    <div class="grup-materie">
        <div class="input-group-prepend">
            <span class="input-group-text" id="" style="width: 155px;"><span class="text-buton">Nota de introdu</span></span>
        </div>
        <select id="selectNota" class="form-select" aria-label="Default select example" style="width: 200px;">
            <option selected>Selectează tipul notei</option>
            <option value="Nota1">Nota1</option>
            <option value="Nota2">Nota2</option>
            <option value="Nota3">Nota3</option>
            <option value="Nota4">Nota4</option>
        </select>
        <input type="number" class="form-control" id="nota" style="width: 200px;" min="0" max="10">
    </div>
    <br><br><br>
    <button type="button" class="btn btn-outline-success float-left" style="border-radius: 15px; margin-left: 460px;" (click)="adaugaNota()">Trimite</button>
    <br><br><br><br><br><br><br><br><br>
    </div>
    <h2 style="margin-right: 1790px;">Catalog</h2>
    <div class="container">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Nume</th>
              <th>Fizica</th>
              <th>Matematica</th>
              <th>Istorie</th>
              <th>Geografie</th>
              <th>Fizica</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let nota of vectorCatalog">
                <td>{{nota.nume}}  {{nota.prenume}}</td>
                <td style="padding: 0px;"> 
                   <div class="table-responsive" style="overflow-x: auto;">
                    <table class="table table-bordered" style="margin-bottom: 0;">
                      <tbody>
                        <tr>
                            <ng-container *ngFor="let notaKey of ['Nota1', 'Nota2', 'Nota3', 'Nota4']; let i = index">
                              <td><b>Nota{{i + 1}} </b>: <span *ngIf="nota.Fizica[notaKey] !== 0">{{nota.Fizica[notaKey]}} </span></td>
                            </ng-container>
                            <td><b>Medie: </b><span *ngIf="nota.Fizica.Medie !== 0">{{nota.Fizica.Medie}}</span></td>
                          </tr>
                      </tbody>
                    </table>
                  </div></td>
            </tr>
          </tbody>
        </table>
      </div>
      <br><br><br><br><br>
</div>
