<div class="overlay" *ngIf="!incarcat">
  <div class="popup">
      <div class="spinner"></div>
      <h2 class="scris">Se încarcă notele... </h2>
  </div>
</div>
<div class="container" *ngIf="incarcat">
  <ng-container *ngFor="let detail of details">
    <div class="card" id="cardPosition" style="width: 18rem;" *ngIf="detail.deAfisat">
      <img class="card-img-top" [src]="detail.srcImg" alt="Card image cap">
      <div class="card-body">
        <h2 class="card-title">{{detail.courseName}}</h2>
        <button class="btn btn-primary" (click)="afisezMateria(detail.courseName)" routerLink="/curs">Vezi</button>
      </div>
    </div>
  </ng-container>
</div>
