<div class="banner">
  <h1>Educatie la indemana oricui</h1> 
</div>

<nav [ngClass]="{'bg-dark': isScrolled, 'bg-transparent': !isScrolled}" class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="#"> <span style="color:white; font-size:38px"> LearnHub </span> </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="statistici" (click)="accessStatistici()">Statistici</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="efectueazaCerereaGet()" routerLink="/cursuri">Cursuri</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="catalog" (click)="accesCatalog()">Catalog</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item">
        <a class="nav-link" href="#" *ngIf="ok === false" (click)="openRegister()">
          <svg xmlns="http://www.w3.org/2000/svg" width="17" height="18" fill="currentColor" class="bi bi-person" viewBox="2 0 13 15">
            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
          </svg>
    <i class="bi bi-person"></i>Sign up
        </a>
     </li>

    <li class="nav-item">
      <a class="nav-link" href="#" *ngIf="ok === false" (click)="operatie()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-door-open" viewBox="0 0 16 16">
          <path d="M8.5 10c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1z"/>
          <path d="M10.828.122A.5.5 0 0 1 11 .5V1h.5A1.5 1.5 0 0 1 13 2.5V15h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V1.5a.5.5 0 0 1 .43-.495l7-1a.5.5 0 0 1 .398.117zM11.5 2H11v13h1V2.5a.5.5 0 0 0-.5-.5zM4 1.934V15h6V1.077l-6 .857z"/>
        </svg>
        <i class="bi bi-door-open"></i> Log in
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#" *ngIf="ok === true" (click)="logout()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z"/>
          <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
        </svg>
        <i class="bi bi-door-open"></i> Log out
      </a>
    </li>

    </ul>
  </div>
</nav>


<div class="modal fade" id="LoginForm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Log in</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Email:</label>
            <input type="text" class="form-control" id="recipient-mail" name="username" [(ngModel)]="loginFormData.username">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Parola:</label>
            <input type="password" class="form-control" id="recipient-parola" name="password" [(ngModel)]="loginFormData.password">
          </div>
          
        </form>
      </div>
      <div class="mb-3">
        <button class="linkbutton" (click)="openForgot()">Ai uitat parola ?</button>
      </div>
      <p *ngIf="ok2" style="color:red;">Mail sau parolă incorecte</p>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="refreshAccessToken()">Inchide</button>
        <button type="button" class="btn btn-primary" (click)="sendFormDataLogin()">Trimite</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="RegisterForm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Inregistrare</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Nume:</label>
            <input type="text" class="form-control" id="recipient-first_name" name="nume" [(ngModel)]="formData.nume">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Prenume:</label>
            <input type="text" class="form-control" id="recipient-last_name" name="prenume" [(ngModel)]="formData.prenume">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Mail:</label>
            <input type="text" class="form-control" id="recipient-mail" name="mail" [(ngModel)]="formData.mail">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Parola:</label>
            <input type="password" class="form-control" id="recipient-parola" name="parola" [(ngModel)]="formData.parola">
          </div>
        
<div class="form-check">
  <input class="form-check-input" type="radio" name="flexRadioDefault" id="student" value="student" (change)="handleRadioButtonSelection($event)">
  <label class="form-check-label" for="student">
    Student
  </label>
</div>

<div class="form-check">
  <input class="form-check-input" type="radio" name="flexRadioDefault" id="profesor" value="profesor" (change)="handleRadioButtonSelection($event)">
  <label class="form-check-label" for="profesor">
    Profesor
  </label>
</div>
  <div class="mb-3">
    <label for="message-text" class="col-form-label">Materie si an:</label>
    <select class="form-select" style="width:460px; height: 80px;" [(ngModel)]="selectedItems" multiple (change)="onSelectChange()">
      <option *ngFor="let item of dropdownItems" [value]="item">{{ item }}</option>
    </select>
  </div>
  <div class="mb-3">
    <label for="message-text" class="col-form-label">Grupe:</label><br>
    <select class="form-select" style="width:460px; height: 80px;" [(ngModel)]="selectedItems" multiple (change)="onSelectChange()">
      <option *ngFor="let item of dropdownItems" [value]="item">{{ item }}</option>
    </select>
  </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Inchide</button>
        <button type="button" class="btn btn-primary" (click)="sendFormData()">Trimite</button>
      </div>
    </div>
  </div>

  <div class="modal fade" id="SuccesLogin" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Inregistrare</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Nume:</label>
              <input type="text" class="form-control" id="recipient-first_name" name="nume" [(ngModel)]="formData.nume">
            </div>
            <div class="mb-3">
              <label for="message-text" class="col-form-label">Prenume:</label>
              <input type="text" class="form-control" id="recipient-last_name" name="prenume" [(ngModel)]="formData.prenume">
            </div>
            <div class="mb-3">
              <label for="message-text" class="col-form-label">Mail:</label>
              <input type="text" class="form-control" id="recipient-mail" name="mail" [(ngModel)]="formData.mail">
            </div>
            <div class="mb-3">
              <label for="message-text" class="col-form-label">Parola:</label>
              <input type="password" class="form-control" id="recipient-parola" name="parola" [(ngModel)]="formData.parola">
            </div>
            
            
          
  <div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadioDefault" id="student" value="student" (change)="handleRadioButtonSelection($event)">
    <label class="form-check-label" for="student">
      Student
    </label>
  </div>
  
  <div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadioDefault" id="profesor" value="profesor" (change)="handleRadioButtonSelection($event)">
    <label class="form-check-label" for="profesor">
      Profesor
    </label>
  </div>
    <div class="mb-3">
      <label for="message-text" class="col-form-label">Materie1:</label>
      <input type="text" class="form-control" id="recipient-materie" [disabled]="!isProfesorSelected" name="materie" [(ngModel)]="formData.materie">
    </div>      
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Inchide</button>
          <button type="button" class="btn btn-primary" (click)="sendFormData()">Trimite</button>
        </div>
      </div>
    </div>

</div>