<div class="loading" *ngIf="!incarcat">
  <div class="spinner"></div>
  <h2>Loading...</h2>
</div>
<div class="container" *ngIf="incarcat" [ngClass]="{ 'disabled-container': !deschis  }">
<div class="accordion" id="accordionExample" style="width:1790px; ">
  <ng-container *ngFor="let subvector of subvectori; let i = index;" style="width:1860px; margin-right: -120px;">
    <div class="accordion-item" *ngIf="(raspunsObj['Capitol'+(i+1)].activat && !esteProfesor()) || esteProfesor()">
      <h2 class="accordion-header" [id]="'heading'+i">
        <button class="accordion-button" type="button" [attr.data-bs-toggle]="'collapse'" [attr.data-bs-target]="'#collapse'+i" aria-expanded="false" [attr.aria-controls]="'collapse'+i" (click)="toggleCollapse(i)">
          Capitol {{i+1}} {{raspunsObj['Capitol'+(i+1)].numeCapitol}}
        </button>
      </h2>
      <div [id]="'collapse'+i" class="accordion-collapse collapse" [ngClass]="{'show': isCollapsed[i]}" [attr.aria-labelledby]="'heading'+i" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <p *ngIf="apasat">{{raspunsObj['Capitol'+(i+1)]['Lectia'+pozitieActuala[i]].nume}}</p>
          <p *ngIf="apasat">{{raspunsObj['Capitol'+(i+1)]['Lectia'+pozitieActuala[i]].informatie}}</p>
        </div>
        <div class="progress">
          <div class="progress-bar" role="progressbar" *ngIf="apasat" [style.width.%]="progres[i]" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">{{progres[i]}}%</div>
        </div>
        <br><br><br>
        <div style="display: flex; justify-content: space-between;">
          <button type="button" class="btn btn-secondary btn-sm" style="text-align: left;" *ngIf="!esteProfesor()" (click)="actualizeazapozitiaInapoi(i)">Înapoi</button>
          <button type="button" class="btn btn-secondary btn-sm" style="text-align: left;" *ngIf="!esteProfesor()" (click)="actualizeazapozitiaInainte(i)">Înainte</button>
        </div>
        <br><br>
        <div style="text-align: center;">
          <button type="button" class="btn btn-primary btn-lg" *ngIf="!esteProfesor()" (click)="trimitereProgres(i)">Trimite</button>
        </div>
      </div>
      <br><br><br>
      <div class="form-check form-switch" style="text-align: right;" *ngIf="esteProfesor()">
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" [(ngModel)]="stare">
        <label class="form-check-label" for="flexSwitchCheckChecked">Statusul actual al lecției: {{subvector.activat}}</label><br>
        <button type="button" class="btn btn-outline-success" style="text-align: left;" (click)="activeaza(i)">Activează</button>
      </div>
    </div>
    <br><br><br><br><br><br><br>
  </ng-container>
</div>
<div div class="btn-group" role="group" aria-label="Basic example" style="margin-top: -90px;  margin-left: 820px;">
 <button type="button"  class="btn btn-secondary" style="width: 200px;" [disabled]="!esteProfesor() && raspunsObj['Capitol1'].progres != 100 && raspunsObj['Capitol2'].progres != 100 || (incercari == 0 && !esteProfesor())" (click)="preiaTestul('1_2')">Test 1</button>
  <button type="button" class="btn btn-secondary" style=" width: 200px;"  [disabled]="!esteProfesor() && raspunsObj['Capitol4'].progres != 100 && raspunsObj['Capitol3'].progres != 100 ||  (incercari1 == 0 && !esteProfesor())" (click)="preiaTestul('3_4')">Test 2</button>
</div>
<br><br><br><br><br>
  <div class="nota11">
    <p style="margin-top: -90px;  margin-left: 700px; white-space: nowrap;">Numar de incercari pentru testul 1  </p>
    <input type="text" [value] ="incercari" class="nota" style="width: 30px"*ngIf="esteProfesor()" id="incercari1"><br><br><br><br>
    <span *ngIf="!esteProfesor()" class="nota">{{incercari}}</span><br><br><br><br>
  </div>
  <div class="nota11">
    <p style="margin-top: -90px;  margin-left: 700px; white-space: nowrap;">Numar de incercari pentru testul 2  </p>
    <input type="text" [value] ="incercari1" class="nota" style="width: 30px"*ngIf="esteProfesor()" id="incercari12"><br><br><br><br>
    <span *ngIf="!esteProfesor()" class="nota">{{incercari1}}</span><br><br><br><br>
  </div>
  <div class="nota12">
    <p style="margin-top: -90px;  margin-left: 700px; white-space: nowrap;">Timp pentru testul 1  </p>
    <input type="text" [value] ="ora" class="ora" style="width: 40px" *ngIf="esteProfesor()" id="ora1"><br>
    <span *ngIf="!esteProfesor()" class="ora">{{ora}}</span><br>
    <p style="margin-top: -90px;  margin-left: 10px; white-space: nowrap;">ore și</p>
    <input type="text" [value] ="minute" class="ora" style="width: 40px" *ngIf="esteProfesor()" id="minute1"><br>
    <span *ngIf="!esteProfesor()" class="ora">{{minute}}</span><br>
    <p style="margin-top: -90px;  margin-left: 10px; white-space: nowrap;">minute</p><br>
  </div>
  <div class="nota12">
    <p style="margin-top: -90px;  margin-left: 700px; white-space: nowrap;">Timp pentru testul 2  </p>
    <input type="text" [value] ="ora1" class="ora" style="width: 40px" *ngIf="esteProfesor()" id="ora12"><br>
    <span *ngIf="!esteProfesor()" class="ora">{{ora1}}</span><br>
    <p style="margin-top: -90px;  margin-left: 10px; white-space: nowrap;">ore și</p><br>
    <input type="text" [value] ="minute1" class="ora" style="width: 40px" *ngIf="esteProfesor()" id="minute12"><br>
    <span *ngIf="!esteProfesor()" class="ora">{{minute1}}</span><br>
    <p style="margin-top: -90px;  margin-left: 10px; white-space: nowrap;">minute</p><br>
    <button style=" margin-left: 10px; width: 140px;  margin-left: -240px;" type="button" class="btn btn-info"  (click)="trimitDateTest()" *ngIf="esteProfesor()">Trimite</button><br><br><br>
    <h2 *ngIf="!esteProfesor() && nota1False" class="nota1234" style="margin-left: -268px;">Nota pentru testul 1 este {{nota1}}/10</h2><br><br><br>
    <h2 *ngIf="!esteProfesor()&& nota2False" class="nota12345" style="margin-left: -298px;">Nota pentru testul 2 este {{nota2}}/10</h2><br><br><br>
  </div><br><br><br><br><br>
</div>