<div class="accordion" id="accordionExample" *ngFor="let subvector of subvectori; let i = index;">
  <div class="accordion-item" *ngIf="subvector.activat && !esteProfesor() || (esteProfesor());">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          Lecția {{i+1}}
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <p *ngIf="apasat">{{this.raspunsObj.lectieDetalii["Inforamtie"+this.pozitieActuala]}}</p>
        </div>
        <div class="progress">
            <div class="progress-bar" role="progressbar" *ngIf="apasat" [style.width.%]="this.progres" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">{{this.progres}}%</div>
          </div><br><br><br>
          <div style="display: flex; justify-content: space-between;">
            <button type="button" class="btn btn-secondary btn-sm" style="text-align: left;" (click)="actualizeazapozitiaInapoi()">Înapoi</button>
            <button type="button" class="btn btn-secondary btn-sm" style="text-align: left;" (click)="actualizeazapozitiaInainte()">Înainte</button>
        </div><br><br>
        <div style="text-align: center;">
          <button type="button" class="btn btn-primary btn-lg">Trimite</button>
      </div>
</div>
<br><br><br>
<div class="form-check form-switch" style="text-align: right;" *ngIf="esteProfesor()">
  <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" [(ngModel)]="stare">
  <label class="form-check-label" for="flexSwitchCheckChecked">Statusul actual al lecției: {{subvector.activat}}</label><br>
  <button type="button" class="btn btn-outline-success" style="text-align: left;" (click)="activeaza(i)">Activează</button>
</div>
<br><br><br><br><br>
