.container{
    margin-top: 1015px;
    display: flex;
    width: 1990px;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: 550px;
}

.container .btn-group{
    margin-top: 1290px;
    height:50px;
    width: 20px;
}
.container .nota11 {
    display: flex;
    align-items: center; 
    flex-direction: row;
    margin-top: -50px;
    margin-left: 70px;
}

.container .nota12 {
    display: flex;
    align-items: center; 
    flex-direction: row;
    margin-top: -20px;
    margin-left: 70px;
}

.container .nota13 {
    display: flex;
    align-items: center; 
    flex-direction: row;
    margin-top: -5px;
    margin-left: 70px;
}

.container .nota11 .nota {
    margin-top: -100px;
    margin-left: 10px;
}

.container .nota12 .ora {
    margin-top: -100px;
    margin-left: 5px;
}


.container .nota12 .nota1234 {
    margin-top: -30px;
    margin-left: 2px;
}

.container .nota12 .nota12345 {
    margin-top: 25px;
    margin-left: 2px;
}

.collapsed {
    background-color: #D4E4F7; 
  }

  .disabled-container {
    pointer-events: none;
    opacity: 0.5; 
  }
